@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Luckiest+Guy&display=swap')
  @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #040402;
  --primary: #296a89;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  outline: transparent;
}

input,
button,
textarea,
select {
  font: inherit;
}

input,
textarea {
  border: none;
  outline: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
}

body {
  @apply bg-light  font-inter text-primary;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
}
.text-stroke {
  -webkit-text-stroke: 2px var(--primary);
  text-stroke: 2px var(--primary);
}

.decor-accent {
  position: absolute;
  z-index: -1;
  max-width: 1440px;
  width: calc(100% - 16px);
  max-height: 500px;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
}

.active {
  @apply text-accent;
}
